.container {
  display: flex;
  width: 85vw;
}

.image {
  width: 70%;
  margin: auto;
}

.ul {
  width: 20vw;
  padding: 0;
  margin: 10% auto;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.list:nth-child(even) {
  background-color: #e2e3e5;
}

.title {
  text-align: left;
}

.image_container {
  display: flex;
  flex-direction: column;
  width: 65vw;
}

.list_container {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  width: 25vw;
}

.icon_container {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 6vh;
  width: 5vw;
  background-color: #97bf0f;
  border-radius: 0 50px 50px 0;
}

.icon_left {
  margin-right: 20%;
  color: white;
}

.link {
  height: 6vh;
  width: 5vw;
  margin-bottom: 5vh;
}

.button {
  display: flex;  
  background: #97bf0f;
  color: white;
  padding: 10px 25px;
  align-items: center;
  border: none;
  border-radius: 50px;
  margin: auto;
}

.icon_right {
    margin-left: 10px;
}

.list_category {
    margin-right: 15%;
}
