.form {
    display: flex;   
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 80%;
}

.input {
    width: 60%;
    height: 20px;
    padding-right: 10px;
}

.cnt {
    width: 80%;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.button {
    width: 30%;
    padding: 2vh; 
    background-color: #97bf0f;
}