@mixin green-btn {
  background-color: var(--color2);
  color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);
  border-radius: 25px;
  border: none;
  padding: 0.5rem 2rem;

  &:hover {
    background-color: #719109;
    color: white;
    transition: 0.2s;
  }
}

@mixin white-btn {
  background-color: white;
  color: var(--color2);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);
  border-radius: 25px;
  border: none;
  padding: 0.5rem 2rem;

  &:hover {
    background-color: var(--color2);
    color: white;
    transition: 0.2s;
  }
}

@mixin small() {
  @media only screen and (max-width: 420px) {
      @content;
  }
}

@mixin desktop() {
  @media only screen and (min-width: 420px) {
      @content;
  }
}